# Ne crée pas de colonnes conditionnelles avec Apply de Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
def assign_class(num):
    
    if num > 0.5:
        return "Classe A"
    return "Classe B"

In [3]:
df = pd.DataFrame(np.random.random((10**7,1)).round(2),
                  columns = ["col1"])

In [4]:
df

         col1
0        0.95
1        0.86
2        0.39
3        1.00
4        0.04
...       ...
9999995  0.30
9999996  0.16
9999997  0.03
9999998  0.43
9999999  0.01

[10000000 rows x 1 columns]

In [5]:
%timeit a = df.col1.apply(assign_class)

1.94 s ± 22.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [6]:
%timeit a = np.where(df["col1"] > 0.5, 
                     "Classe A", 
                     "Classe B")

247 ms ± 3.15 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)