# La vectorisation ne garantit pas toujours de meilleures performances

In [1]:
import pandas as pd
import time

## Génération de données fictives

Voir : https://www.monshotdata.com/p/generer-donnees-factices

In [2]:
fake_names = []

In [3]:
from faker import Faker
fake = Faker()

for _ in range(1000000):
    fake_names.append(fake.name())

In [4]:
df = pd.DataFrame(fake_names, columns=['Name'])

In [5]:
df.head()

                 Name
0        Luis Camacho
1         Derek Perez
2        Thomas Davis
3     James Alexander
4  Nicholas Cervantes

## Vectorisation

In [6]:
%%time 
df.Name.str.split()

CPU times: user 2.17 s, sys: 558 ms, total: 2.72 s
Wall time: 4.38 s

0               [Luis, Camacho]
1                [Derek, Perez]
2               [Thomas, Davis]
3            [James, Alexander]
4         [Nicholas, Cervantes]
                  ...
999995           [Megan, White]
999996         [Carol, Pearson]
999997        [Michelle, Frost]
999998         [Laura, Ferrell]
999999           [Michael, Lee]
Name: Name, Length: 1000000, dtype: object

## Apply

In [7]:
def name_split(s):
    return s.split()

In [8]:
%%time
df.Name.apply(name_split)

CPU times: user 1.42 s, sys: 215 ms, total: 1.64 s
Wall time: 2.06 s

0               [Luis, Camacho]
1                [Derek, Perez]
2               [Thomas, Davis]
3            [James, Alexander]
4         [Nicholas, Cervantes]
                  ...
999995           [Megan, White]
999996         [Carol, Pearson]
999997        [Michelle, Frost]
999998         [Laura, Ferrell]
999999           [Michael, Lee]
Name: Name, Length: 1000000, dtype: object