# Comment encoder des variables catégorielles avec plusieurs catégories ?

In [ ]:
!pip install category_encoders

In [1]:
import pandas as pd
import category_encoders as ce

In [2]:
data = pd.DataFrame({'gender': ['Male', 'Female', 'Male', 'Female', 'Female'],
                     'class': ['A','B','C','D','A']})

In [3]:
data.head()

   gender class
0    Male     A
1  Female     B
2    Male     C
3  Female     D
4  Female     A

In [4]:
ce_be = ce.BinaryEncoder(cols=['class'])

In [5]:
ce_be.fit_transform(data["class"])

   class_0  class_1  class_2
0        0        0        1
1        0        1        0
2        0        1        1
3        1        0        0
4        0        0        1