# Analyser les données de flux avec les diagrammes de Sankey

In [ ]:
!pip install ipysankeywidget

In [1]:
import pandas as pd
import numpy as np

from ipysankeywidget import SankeyWidget

In [2]:
df = pd.DataFrame([["New Delhi", "Washington", "Direct", 4],
                  ["Melbourne", "Washington", "Direct", 4],
                  ["London", "New York", "1-stop", 4],
                  ["Dubai", "Los Angeles", "1-stop", 5],
                  ["Dubai", "Washington", "2-stops", 1],
                  ["London", "Washington", "Direct",2], 
                  ["Melbourne", "Los Angeles", "Direct", 1]], columns = ["source", "target", "type", "value"])

In [3]:
df

      source       target     type  value
0  New Delhi   Washington   Direct      4
1  Melbourne   Washington   Direct      4
2     London     New York   1-stop      4
3      Dubai  Los Angeles   1-stop      5
4      Dubai   Washington  2-stops      1
5     London   Washington   Direct      2
6  Melbourne  Los Angeles   Direct      1

In [4]:
sankey = SankeyWidget(links=df.to_dict('records'))

In [5]:
sankey

SankeyWidget(links=[{'source': 'New Delhi', 'target': 'Washington', 'type': 'Direct', 'value': 4}, {'source': …