# Type de données pour gérer les colonnes de valeurs manquantes avec Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randint(1, 1000000, size = (10**6, 3)), 
                  columns = ["col1", "col2", "col3"])

df["col1"] = df.col1.astype(np.float64)

In [3]:
df.loc[::2, "col1"] = np.nan
df.loc[::3, "col1"] = np.nan
df.loc[::5, "col1"] = np.nan

In [4]:
df[df.col1.isna()].shape

(733334, 3)

In [5]:
df.col1.info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000000 entries, 0 to 999999
Series name: col1
Non-Null Count   Dtype
--------------   -----
266666 non-null  float64
dtypes: float64(1)
memory usage: 7.6 MB

## Conversion de la colonne en Datatype Sparse

In [6]:
df["col1"] = df.col1.astype("Sparse[float32]")

In [7]:
df.col1.info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000000 entries, 0 to 999999
Series name: col1
Non-Null Count   Dtype
--------------   -----
266666 non-null  Sparse[float32, nan]
dtypes: Sparse[float32, nan](1)
memory usage: 2.0 MB