# 3 astuces moins connues pour lire un fichier CSV avec Pandas

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../_datasets/employee_dataset.csv")

In [4]:
df.shape

(1000, 9)

## Lire les 10 premi√®res lignes

In [6]:
df = pd.read_csv("../_datasets/employee_dataset.csv", nrows = 10)

In [7]:
df.shape

(10, 9)

In [8]:
df

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating,Credits
0,Johnny Maynard,"White, Mcclain and Cobb",Equities trader,New Cindychester,Mongolia,764340,Full Time,3.3,1
1,Michael Williams,Scott Inc,Patent examiner,Ricardomouth,Guinea-Bissau,929230,Full Time,4.6,4
2,Laura Flynn,Andrade LLC,Equities trader,North Melissafurt,Tonga,606900,Intern,0.3,3
3,Stefanie Archer,James and Sons,Retail merchandiser,Ricardomouth,San Marino,775380,Full Time,2.8,5
4,Sierra Garcia,Matthews Inc,Armed forces logistics/support/administrative ...,Whitakerbury,Nepal,944480,Full Time,4.5,4
5,Donna Miller,Andrade LLC,Garment/textile technologist,West Jamesview,Tonga,428090,Intern,1.1,4
6,Linda Rodriguez,Marshall-Holloway,Optometrist,Whitakerbury,Portugal,645690,Full Time,4.7,5
7,Jonathan Gibson,Scott Inc,Naval architect,Whiteside,Libyan Arab Jamahiriya,483210,Intern,3.4,1
8,Karl Henry,"Campos, Reynolds and Mccormick","Radiographer, therapeutic",Whiteside,Kyrgyz Republic,586480,Full Time,3.7,2
9,Katherine Sims,"Baker, Allen and Edwards",Regulatory affairs officer,Kristaburgh,Haiti,712320,Full Time,3.0,2

## Lire quelques colonnes

In [10]:
df = pd.read_csv("../_datasets/employee_dataset.csv", usecols = ["Name", "Employee_Rating"])

In [11]:
df.shape

(1000, 2)

In [12]:
df.head()

               Name  Employee_Rating
0    Johnny Maynard              3.3
1  Michael Williams              4.6
2       Laura Flynn              0.3
3   Stefanie Archer              2.8
4     Sierra Garcia              4.5

## Sauter les 5 premi√®res lignes

In [14]:
df = pd.read_csv("../_datasets/employee_dataset.csv", skiprows = 5)

In [15]:
df.shape

(995, 9)

## Sauter les 1√®re et 5√®me lignes

In [17]:
df = pd.read_csv("../_datasets/employee_dataset.csv", skiprows = [1,5])

In [18]:
df.shape

(998, 9)