# Une fonctionnalité moins connue de la méthode Apply de Pandas

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame([[1,3,2], [4,6,3]], columns = list("ABC"))

In [4]:
df

   A  B  C
0  1  3  2
1  4  6  3

In [5]:
def my_func(row):
    return max(row), min(row)

## Seris Pandas de Tuple

In [7]:
df.apply(my_func, axis = 1)

0    (3, 1)
1    (6, 3)
dtype: object

## dataFrame Pandas

In [9]:
df.apply(my_func, axis = 1, result_type = "expand")

   0  1
0  3  1
1  6  3