# Accélérer 5x la vitesse de Apply Pandas avec NumPy

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.randint(1, 100, (10**7, 4)), columns = list("ABCD"))

In [4]:
df.head()

    A   B   C   D
0  22  51  59  14
1  16  48  96  15
2  63  22  77  93
3   9  43  97  53
4  22  41   7  94

In [5]:
def assign_class(num):
    if num < 10:
        return "Class A"
    if num < 50:
        return "Class B"
    return "Class C"

## Apply de Pandas

In [7]:
%%timeit 

a = df.A.apply(assign_class)

1.53 s ± 44.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## Select de NumPy

In [9]:
%%timeit

condlist = [df["A"] < 10, df["A"] < 50]
resultlist = ["Class A" , "Class B" ]

np.select(condlist, resultlist, "Class C")

323 ms ± 5.68 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)