# Le meilleur format de fichier pour stocker un DataFrame Pandas

In [2]:
import pandas as pd
import os

In [4]:
df = pd.read_csv("../_datasets/employee_dataset.csv")

In [6]:
df.head()

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating,Credits
0,Johnny Maynard,"White, Mcclain and Cobb",Equities trader,New Cindychester,Mongolia,764340,Full Time,3.3,1
1,Michael Williams,Scott Inc,Patent examiner,Ricardomouth,Guinea-Bissau,929230,Full Time,4.6,4
2,Laura Flynn,Andrade LLC,Equities trader,North Melissafurt,Tonga,606900,Intern,0.3,3
3,Stefanie Archer,James and Sons,Retail merchandiser,Ricardomouth,San Marino,775380,Full Time,2.8,5
4,Sierra Garcia,Matthews Inc,Armed forces logistics/support/administrative ...,Whitakerbury,Nepal,944480,Full Time,4.5,4

In [8]:
for i in range(13):
    df = pd.concat((df, df))
    print(df.shape)
    
df.reset_index(drop = True, inplace = True)

(2000, 9)
(4000, 9)
(8000, 9)
(16000, 9)
(32000, 9)
(64000, 9)
(128000, 9)
(256000, 9)
(512000, 9)
(1024000, 9)
(2048000, 9)
(4096000, 9)
(8192000, 9)

## Dump to CSV

In [11]:
%time df.to_csv("../_datasets/dump_to_csv.csv")

CPU times: user 37.9 s, sys: 2.94 s, total: 40.8 s
Wall time: 44 s

In [13]:
file_size = os.path.getsize('../_datasets/dump_to_csv.csv')
print(f"La taille du fichier est de {file_size/(1024**2)} Mo")

La taille du fichier est de 862.112359046936 Mo

In [15]:
!rm ../_datasets/dump_to_csv.csv

## Dump to Pickle

In [18]:
%time df.to_pickle("../_datasets/dump_to_pickle.pickle")

CPU times: user 1.74 s, sys: 1.1 s, total: 2.84 s
Wall time: 3.2 s

In [20]:
file_size = os.path.getsize('../_datasets/dump_to_pickle.pickle')
print(f"La taille du fichier est de {file_size/(1024**2)} Mo")

La taille du fichier est de 416.6713104248047 Mo

In [22]:
!rm ../_datasets/dump_to_pickle.pickle

## Dump to Parquet

In [25]:
%time df.to_parquet("../_datasets/dump_to_parquet.parquet")

CPU times: user 5.97 s, sys: 2.88 s, total: 8.84 s
Wall time: 13.8 s

In [27]:
file_size = os.path.getsize('../_datasets/dump_to_parquet.parquet')
print(f"La taille du fichier est de {file_size/(1024**2)} Mo")

La taille du fichier est de 4.1562957763671875 Mo

In [29]:
!rm ../_datasets/dump_to_parquet.parquet

## Dump to Feather

In [32]:
%time df.to_feather("../_datasets/dump_to_feather.feather")

CPU times: user 3.36 s, sys: 2.49 s, total: 5.85 s
Wall time: 6.48 s

In [34]:
file_size = os.path.getsize('../_datasets/dump_to_feather.feather')
print(f"La taille du fichier est de {file_size/(1024**2)} Mo")

La taille du fichier est de 282.39537239074707 Mo

In [36]:
!rm ../_datasets/dump_to_feather.feather