# Quand ne pas utiliser la méthode head() de Pandas

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame([["Gab", 15], 
                   ["Jules", 17],
                   ["Marco", 15], 
                   ["Noah", 19]], columns = ["Prénom", "Notes"])

In [4]:
df

  Prénom  Notes
0    Gab     15
1  Jules     17
2  Marco     15
3   Noah     19

In [5]:
df.sort_values("Notes", ascending=False).head(3)

  Prénom  Notes
3   Noah     19
1  Jules     17
0    Gab     15

In [6]:
df.nlargest(n=3, columns="Notes", keep="all")

  Prénom  Notes
3   Noah     19
1  Jules     17
0    Gab     15
2  Marco     15