# Fonctionnalité moins connue de la méthode Merge de Pandas

In [2]:
import pandas as pd

In [3]:
name_df = pd.DataFrame({'Cust_ID': [1, 2, 3], 
                        'Name': ["Noah", "Léa", "Summer"]})

rewards_df = pd.DataFrame({'Cust_ID': [2, 3, 4], 
                           'Rewards': [50, 20, 70]})

In [4]:
merged_df = name_df.merge(rewards_df, 
                          on = 'Cust_ID', 
                          how='outer', 
                          indicator=True)

In [5]:
merged_df

   Cust_ID    Name  Rewards      _merge
0        1    Noah      NaN   left_only
1        2     Léa     50.0        both
2        3  Summer     20.0        both
3        4     NaN     70.0  right_only