# Personnalise ta propre esp√®ce de Pandas

In [ ]:
!pip install pandas-flavor

In [1]:
import pandas as pd
import pandas_flavor as pf

In [2]:
df = pd.DataFrame([["Mercure", 1],
                   ["Venus", 2]], 
                  columns = ["Planets", "Position"])

In [3]:
df

   Planets  Position
0  Mercure         1
1    Venus         2

In [4]:
@pf.register_dataframe_method
def add_rows(df, rows):

    for row in rows:
        df.loc[df.shape[0]] = row

In [5]:
new_rows = [["Terre", 3], 
            ["Mars" , 4]]

In [6]:
df.add_rows(new_rows)

In [7]:
df

   Planets  Position
0  Mercure         1
1    Venus         2
2    Terre         3
3     Mars         4