# Arrête d'utiliser la méthode Describe de Pandas. Utilise plutôt Summarytools !

In [ ]:
!pip install jupyter-summarytools

In [1]:
import seaborn as sns
iris = sns.load_dataset('iris')

In [2]:
from summarytools import dfSummary
dfSummary(iris)